<!DOCTYPE html>
<html>
    <head>
        <style>
            div{
                margin-left:400px;
                width:700px;
                height:100px;
                background-color: bisque;
                border:10px solid navy;
                text-decoration:underline;
            }
            body{
                text-align:center;
                background-color: mistyrose;
                font-family:"맑은고딕",굴림,돋움;
            }
            input:hover{
                background-color: yellow;
            }
        </style>
    </head>
    <body>
        <div><h1>이름을 입력해주세요</h1> </div>
        <br>
            <form action="result">
                사용자 이름:
                <input type="text" name="username">
                <input type="submit" value="제출하기">
            </form>
    </body>    
</html>